/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess

/nbproject

/uploads
/public/images
images/avatars
images/doc

assets/images/doc/
/assets/services/
/test.php
/assets/category/*
/assets/equipments/*
/public/banners/*
/_ide_helper.php
/public/assets/services/*